body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('C:/Users/prana/OneDrive/Desktop/prototype/ChefsTable/static/images/back.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    padding: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
